In [1]:
import pandas as pd
import numpy as np
import datetime as dt

# Import Datasets

In [38]:
df_1 = pd.read_csv("dataset_1.csv")
df_2 = pd.read_csv("dataset_2.csv")
df_3 = pd.read_csv("dataset_3.csv")

# concatenate all three datasets

In [39]:
Transactions_df = pd.concat([df_1,df_2,df_3])
Transactions_df.reset_index(drop = True , inplace = True)

# Data Cleaning

In [40]:
#checl columns names

Transactions_df.columns

Index(['Unnamed: 0', 'index', 'date', 'amount', 'transaction_id', 'rate',
       'flat_fee', 'product'],
      dtype='object')

In [41]:
#Check datatype

Transactions_df.dtypes

Unnamed: 0          int64
index               int64
date               object
amount              int64
transaction_id     object
rate              float64
flat_fee          float64
product            object
dtype: object

In [42]:
#Remove unneeded columns

Transactions_df.drop(columns = 'Unnamed: 0' , inplace = True)

In [43]:
Transactions_df.columns

Index(['index', 'date', 'amount', 'transaction_id', 'rate', 'flat_fee',
       'product'],
      dtype='object')

In [44]:
Transactions_df

,index,date,amount,transaction_id,rate,flat_fee,product
0,19734,12/05/2022 04:55:54,188,pos_1652331353995374188,0.010,2.0,pos
1,32238,14/08/2022 10:40:34,90,pos_1660473634248388090,0.010,2.0,pos
2,89439,20/06/2021 03:27:30,29123232323,pr_1624159650069115998,0.030,0.0,pr
3,97206,22/11/2021 06:38:37,602,pr_1637563117245903602,0.030,0.0,pr
4,1935,19/05/2021 22:57:45,39,pos_1621465065131486039,0.010,2.0,pos
...,...,...,...,...,...,...,...
142005,86669,20/04/2021 21:01:27,2747,pr_1618952487435648747,0.030,0.0,pr
142006,11127,26/01/2022 05:06:36,297,pos_1643173595606499297,0.010,2.0,pos
142007,5343,28/09/2021 08:43:58,281,pos_1632818637873102281,0.010,2.0,pos
142008,123773,06/07/2021 10:16:58,1208,pp_1625566618036380208,0.025,2.0,pp
142009,21417,28/05/2022 17:32:14,124,pos_1653759134448537124,0.010,2.0,pos

In [45]:
#check null values

Transactions_df.isna().sum()

index                0
date                 0
amount               0
transaction_id       0
rate              1223
flat_fee          1223
product              0
dtype: int64

# Fill null values

In [47]:
#( put flat_fee = 2 because its a constant fee for all products)

Transactions_df['flat_fee'].fillna(2 , inplace = True)

#( put rate value according to product type )

Transactions_df.loc[(Transactions_df['product'] == 'pos') & (Transactions_df['rate'].isna()),'rate'] = 0.01
Transactions_df.loc[(Transactions_df['product'] == 'pr') & (Transactions_df['rate'].isna()), 'rate' ] = 0.03
Transactions_df.loc[(Transactions_df['product'] == 'pp') & (Transactions_df['rate'].isna()), 'rate'] = 0.025

In [48]:
Transactions_df.isna().sum()

index             0
date              0
amount            0
transaction_id    0
rate              0
flat_fee          0
product           0
dtype: int64

In [49]:
# Export Cleaned Data To Excel_sheet

with pd.ExcelWriter('Cleaned Data.xlsx') as writer:
    Transactions_df.to_excel(writer, sheet_name='Transactions', index=False)